<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Detalles Autor</title>
</head>
<body>
   <h1>Author details: {{ author.name }} {{ author.last_name }}</h1>


   <p>Details:</p>
   <ul>
       <li>Full name: {{ author.name }} {{ author.last_name }}</li>
       <li>Birth date: {{ author.birth_date }}</li>
       <li>Written books:
           <ul>
               {% for book in author.book_set.all %}
                   <li>{{ book.title }}</li>
               {% endfor %}
           </ul>
       </li>
   </ul>
</body>
</html> 
